HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!assignment/1/src/main/**/target/
!assignment/1/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!assignment/1/src/main/**/build/
!assignment/1/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Unnecessary ###
/assignment